@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/*CELULARES*/
@media (min-width: 300px) and (max-width: 564px){

    /*FONTE PARA TÍTULOS GERAIS*/
    .topo {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /*BARRA DE PESQUISA*/
    input{
        all: unset;
        background-color: white;
        height: 30px;
        border-radius: 3px;
    }

    /*LOGO-ESTRELA DESATIVADO NO CELULAR*/
    .logo {
        display: none;
    }

    .menu-desktop {
        display: none;
    }

    .menu-android{
        display: flex;
    }

    /*GIF PRINCIPAL NO TOPO DO SITE*/
    .imagem-topo {
        background: url(https://i.pinimg.com/originals/9d/bd/9e/9dbd9e807e4d498b454d120c82086f43.gif) no-repeat bottom/cover;
        height: 30vh;
    }

    .custom-shape-divider-top-1747760079 svg {
    height: 40px;
    }

    /*TARJA DA NINTENDO*/
    .grupo1 {
    top: 45%;
    }

    /*CAIXA DE TODOS OS PRODUTOS*/
    .items {
        width: 7em;
        height: 35vh;
    }

    /*CONTAINER DOS CONSOLES EM GERAL*/
    .caixa-nintendo, .caixa-playstation, .caixa-xbox {
    width: 90%;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    }

    /*ALTURA ADEQUADA PARA CADA CONTAINER DE SEÇÃO*/
    .caixa-nintendo {
    padding: 10em 0 5em 0;
    }
    .caixa-playstation {
    padding: 6em 0 3em 0;
    }
    .caixa-xbox {
    padding: 12em 0 8em 0;
    }

    /*Tamanho da fonte e configurações das letras da descrição dos produtos*/
    .info h1, p {
        font-size: 16px;
        padding: 0;
        margin: 1px;
    }
    
    /*Container onde estão os links para outras páginas do site */
    .outros {
        gap: 0.6em;
    }

    /*rodapé do site*/
    .footer {
        display: block;
        justify-content: center;
        align-items: center;
        background-color:  rgb(34, 34, 34);

        text-align: center;
        padding: 5px;
        color: white;
        font-weight: lighter;
    }

    .footer > h1{
        font-size: 12px;
    }

    .footer > a > img {
        width: 35px;
        height: 35px;
    } 
}

/*TABLETS E DISPOSITIVOS MÉDIOS*/
@media screen and (min-width: 565px) and (max-width: 640px){

    /*FONTE PARA TÍTULOS GERAIS*/
    .topo {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /*BARRA DE PESQUISA*/
    input{
        all: unset;
        background-color: white;
        height: 30px;
        border-radius: 3px;
    }

    /*LOGO-ESTRELA DESATIVADO NO CELULAR*/
    .logo {
        display: none;
    }

    .menu-desktop {
        display: none;
    }

    .menu-android{
        display: flex;
    }

    /*GIF PRINCIPAL NO TOPO DO SITE*/
    .imagem-topo {
        background: url(https://i.pinimg.com/originals/9d/bd/9e/9dbd9e807e4d498b454d120c82086f43.gif) no-repeat bottom/cover;
        height: 30vh;
    }

    .custom-shape-divider-top-1747760079 svg {
    height: 40px;
    }

    /*TARJA DA NINTENDO*/
    .grupo1 {
    top: 45%;
    }

    /*CAIXA DE TODOS OS PRODUTOS*/
    .items {
        width: 7em;
        height: 35vh;
    }

    /*CONTAINER DOS CONSOLES EM GERAL*/
    .caixa-nintendo, .caixa-playstation, .caixa-xbox {
    width: 90%;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    }

    /*ALTURA ADEQUADA PARA CADA CONTAINER DE SEÇÃO*/
    .caixa-nintendo {
    padding: 10em 0 5em 0;
    }
    .caixa-playstation {
    padding: 6em 0 3em 0;
    }
    .caixa-xbox {
    padding: 12em 0 8em 0;
    }

    /*Tamanho da fonte e configurações das letras da descrição dos produtos*/
    .info h1, p {
        font-size: 16px;
        padding: 0;
        margin: 1px;
    }
    
    /*Container onde estão os links para outras páginas do site */
    .outros {
        gap: 0.6em;
    }

    .footer > h1{
        font-size: 12px;
    }

    .footer > a > img {
        width: 35px;
        height: 35px;
    } 
}

@media screen and (min-width: 641px) and (max-width: 800px) {
    /*FONTE PARA TÍTULOS GERAIS*/
    .topo {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /*BARRA DE PESQUISA*/
    input{
        width: 50vw;
    }

    /*LOGO-ESTRELA DESATIVADO NO CELULAR*/
    .logo {
        display: none;
    }

    .menu-desktop {
        display: none;
    }

    .menu-android{
        display: flex;
    }

    /*GIF PRINCIPAL NO TOPO DO SITE*/
    .imagem-topo {
        height: 40vh;
    }

    .custom-shape-divider-top-1747760079 svg {
    height: 45px;
    }

    /*TARJA DA NINTENDO*/
    .grupo1 {
    top: 55%;
    }

    /*CAIXA DE TODOS OS PRODUTOS*/
    .items {
        width: 7em;
        height: 35vh;
    }

    /*CONTAINER DOS CONSOLES EM GERAL*/
    .caixa-nintendo, .caixa-playstation, .caixa-xbox {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 8em 0 2em 0;
    }

    /*ALTURA ADEQUADA PARA CADA CONTAINER DE SEÇÃO*/
    .caixa-nintendo {
    height: 40em;
    }
    .caixa-playstation {
    height: 25em;
    }
    .caixa-xbox {
        height: 12em;
    }

    /*Tamanho da fonte e configurações das letras da descrição dos produtos*/
    .info h1, p {
        font-size: 16px;
        padding: 0;
        margin: 1px;
    }
    
    /*Container onde estão os links para outras páginas do site */
    .outros {
        gap: 2.6em;
    }

    .footer > h1{
        font-size: 12px;
    }

    .footer > a > img {
        width: 35px;
        height: 35px;
    } 
}
