@charset "UTF-8";


.imagem-topo {
    background: url(https://i.pinimg.com/originals/41/60/61/416061b9d95e206d7bbeb51e644cca6e.gif) no-repeat center/cover;
}
.items {
    max-height: 100%;
    min-width: 200px;
}
.items:hover {
    min-width: 210px;
    transition-duration: 0.2s;
}
.imagem {
    height: 16vh;
}
.info {
    height: 10vh;
}
.vermais {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: aliceblue;
    min-width: 50px;
    height:345px;
    margin: 2px 0 2px 15px;
    border-radius: 10px 0 0 10px;
}

.grupo1, .grupo2, .grupo3 {
    padding: 15px;
    width: 40vw;
    margin: 1.9em auto;
}

.n, .p, .x {
    background-color: rgb(90, 23, 153);
    width: 350px;
    margin: 15px;
    padding: 8px;
    font-size: 33px;
    text-align: center;
    border-radius: 8px;
    
    color: whitesmoke;
    font-weight: bolder;
}

.final {
    background-color: aliceblue;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px;
    margin: 30px auto;
    height: 30px;
    width: 80px;
    border-radius: 8px;
}

a {
    text-decoration: none;
}
.final:hover {
    border: 3px solid rgb(92, 92, 233);
    color:  rgb(92, 92, 233);
    font-weight: bolder;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.192);
    text-decoration: none;
}