@charset "UTF-8";


.imagem-topo {
    background: url(https://i.pinimg.com/originals/bb/ee/b2/bbeeb2ebbb138f8afa824e6e1c568973.gif) no-repeat top/cover;
}

.final {
    background-color: aliceblue;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px;
    margin: 30px auto;
    height: 30px;
    width: 80px;
    border-radius: 8px;
}
a {
    text-decoration: none;

}
.final:hover {
    border: 3px solid rgb(92, 92, 233);
    color:  rgb(92, 92, 233);
    font-weight: bolder;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.192);
    text-decoration: none;
}
