@charset "UTF-8";

html, body {
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(27, 27, 27);
}

.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(34, 34, 34);
    padding: 0.5em;
}
input{
    height: 40px;
    width: 70vw;
    border-radius: 10px;
}
img.menu, .carrinho {
    margin: 5px;
}

.imagem-topo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: url(https://i.pinimg.com/originals/70/53/8a/70538a8b027ddda7f82e2069a0c65fb2.gif) no-repeat center/cover;

    height: 25vh;
    margin-bottom: 3vh;
    color: white;
    text-shadow: 3px 3px 5px black;
}

.caixa {
    height: 350px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0;
}
.items {
    background-color: rgb(34, 34, 34);
    max-height: 100%;
    min-width: 200px;
    margin-left: 1rem;
    padding: 5px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.404);
    border-radius: 5px;
    height: 100%;
}
.items:hover {
    min-width: 210px;
    transition-duration: 0.2s;
}
.imagem {
    background-color: white;
    height: 150px;
}
.imagem img {
    width: 100%;
    height: 100%;
    object-fit: fixed;
}
.info {
    height: 20vh;
    color: white;
    text-align: center;
}
.info h1, p {
    padding: 0;
    margin: 10px;
}
.desconto {
    color: brown;
    text-decoration: line-through;
    font-size: 19px;
    padding: 0;
}
.grupo1 {
    text-align: center;
    background-color: rgb(235, 221, 36);
    color: brown;
    margin: 50px 20px 20px 20px;
    padding: 2px;
    width: 50vw;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.555);
}
.grupo2 {
    text-align: center;
    background: linear-gradient(to right,  rgb(20, 101, 167), rgb(13, 33, 49) );
    margin: 15px;
    padding: 3px;
    width: 50vw;
    border-radius: 8px;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.555);
}
.grupo3 {
    text-align: center;
    background: linear-gradient(to right, rgb(8, 51, 8), green);
    margin: 15px;
    padding: 1px;
    width: 50vw;
    border-radius: 10px;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.555);
}
.grupo1, .grupo2, .grupo3  {
    margin: 1em 0 2em 0.5em; 
}

.n, .p, .x {
    background-color: rgb(90, 23, 153);
    width: 150px;
    margin: 5px;
    padding: 8px;
    text-align: left;
    border-radius: 8px;
    
    color: whitesmoke;
    font-weight: bolder;
}