@charset "UTF-8";


.imagem-topo {
    background: url(https://i.pinimg.com/originals/fe/c2/3b/fec23b4cc217df648c1869df41228d00.gif) no-repeat center/cover;
}
.items {
    max-height: 100%;
    min-width: 200px;
}
.items:hover {
    min-width: 210px;
    transition-duration: 0.2s;
}
.vermais {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: aliceblue;
    min-width: 50px;
    height:345px;
    margin: 2px 0 2px 15px;
    border-radius: 10px 0 0 10px;
}

.grupo1, .grupo2, .grupo3 {
    padding: 10px;
    width: 47vw;
    margin: 1em auto;
}

.n, .p, .x {
    background-color: rgb(90, 23, 153);
    margin-left: 0.8em;
    width: 150px;
    padding: 6px;
    font-size: 23px;
    text-align: center;
    border-radius: 8px;
    
    color: whitesmoke;
    font-weight: bolder;
}

.final {
    background-color: aliceblue;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
    padding: 10px;
    height: 30px;
    width: 80px;
    border-radius: 8px;
}

a {
    text-decoration: none;
}
.final:hover {
    border: 3px solid rgb(92, 92, 233);
    color:  rgb(92, 92, 233);
    font-weight: bolder;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.192);
    text-decoration: none;
}