@charset "UTF-8";


.imagem-topo {
    background: url(https://i.pinimg.com/originals/02/01/1e/02011ec8554277b8c70bf22fb192123c.gif) no-repeat center/cover;
}

.items {
    max-height: 100%;
    min-width: 200px;
}
.items:hover {
    min-width: 210px;
    transition-duration: 0.2s;
}
.imagem {
    height: 16vh;
}
.info {
    height: 10vh;
}

.vermais {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: aliceblue;
    min-width: 50px;
    height:345px;
    margin: 2px 0 2px 15px;
    border-radius: 10px 0 0 10px;
}

.final {
    background-color: aliceblue;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px;
    margin: 30px auto;
    height: 30px;
    width: 80px;
    border-radius: 8px;
}
a {
    text-decoration: none;
}
.final:hover {
    border: 3px solid rgb(92, 92, 233);
    color:  rgb(92, 92, 233);
    font-weight: bolder;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.192);
    text-decoration: none;
}